a {
    all: unset;
  }
.ride-btn {
    background: #222428;
    color: #ffffff;
    padding: 12px;
    text-align: center;
  }
  .vertical-line {
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: -12px 10px;
  }
  img{
      background: gainsboro;
      border-radius: 50%;
  }