<ion-footer>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div  class="mt-2">
        <img src="../../assets/images/ola-prime-sedan-active.svg" style="height: 50px;width: 50px;">
    </div>
    <div> <small>2 min away</small></div>
    <div class="mb-1"><b>Travel within city at hourly packages</b></div>
  </div>
  <div class="d-flex ride-btn">
    <div class="flex-fill">
      <a (click)="rideLater()">RIDE LATER</a>
    </div>
    <span class="vertical-line"></span>
    <div class="flex-fill">
      <a routerLink="/home/ridenow">RIDE NOW</a>
    </div>
  </div>
</ion-footer>