@import url("https://fonts.googleapis.com/css?family=Courgette|Roboto&display=swap");

ion-title {
  font-size: 2.2em;
  font-family: "Courgette";
}
h1 {
  font-size: 22px;
  color: #ff2e7a !important;
  font-family: "Montserrat";
  letter-spacing: 2px;
}
ion-card-header {
  --background: url("../../assets/images/login-img.jpg");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 250px;
}
p{
  font-family: "Montserrat";
}
ion-card-content {
  background: whitesmoke;
}
ion-item {
  --background: whitesmoke;
}

ion-content {
  --background:white;
}
ion-label{
  color: grey !important;
  font-family: 'Montserrat' !important;
}
.login-btn {
  --background: #ff2e7a;
  color: white;
}
ion-checkbox{
  --border-radius:50%;
}
.error{
  color: red;
}