<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title class="ion-text-center">
      Rento Cab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-card>
          <ion-card-header>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="ion-padding">
                <h1 class="text-center">LOGIN TO YOUR ACCOUNT</h1>
              </div>
              <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input type="text" formControlName="username" required></ion-input>
              </ion-item>
              <div class="error" *ngIf="loginForm.controls['username'].hasError('required') && (loginForm.controls['username'].touched 
                || loginForm.controls['username'].dirty)">
                Please enter your email
              </div>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="password" required></ion-input>
              </ion-item>
              <div class="error" *ngIf="loginForm.controls['password'].hasError('required') && (loginForm.controls['password'].touched 
                || loginForm.controls['password'].dirty)">
                Please enter your password
              </div>
              <br>
              <ion-item>
                <ion-checkbox slot="start" color="danger"></ion-checkbox>
                <ion-label>Remember Me</ion-label>
              </ion-item>
              <br>
              <ion-button (click)="onSubmit()" class="login-btn" expand="full">Login</ion-button>
              <br>
              <div class="text-center"><a href="" slot="end">Forgot Password?</a></div>
              <br>
              <p class="ion-text-center">Dont have an account?&nbsp;<span routerLink="/register"
                  style="font-weight: bold;">Register</span></p>
              <br>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>