<ion-content>
  <form [formGroup]="directionForm" (ngSubmit)="calculateAndDisplayRoute(directionForm.value)">
    <ion-item>
      <ion-label position="stacked">PICKUP</ion-label>
      <ion-input formControlName="pickup" placeholder="Enter pickup location"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">DROP</ion-label>
      <ion-input formControlName="drop" placeholder="Enter drop location"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="directionForm.invalid">Get Direction</ion-button>
  </form>

  <div #mapElement class="map"></div>
    <ion-button [disabled]="isTracking" color="primary" (click)="findMe()" expand="full">Find me</ion-button>
</ion-content>

<!-- <ion-button class="btn btn-danger" (click)="trackMe()">Track me</ion-button> -->