<ion-app>
  <ion-menu side="start" contentId="my-content">
    <ion-header>
      <ion-toolbar>
        <ion-item routerLink="/user">
          <ion-avatar slot="start">
            <img [src]="[userImg]">
          </ion-avatar>
          <ion-label>
            <b>{{userName}}</b>
            <p>{{mobileNumber}}</p>
          </ion-label>
          <ion-icon name="arrow-dropright" slot="end"></ion-icon>
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="card" slot="start"></ion-icon>
          <ion-label><a routerLink="/rentopass">Rento Pass</a></ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="card" slot="start"></ion-icon>
          <ion-label><a routerLink="/sharepass">Share Pass</a> </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="time" slot="start"></ion-icon>
          <ion-label><a routerLink="/yourrides">Your Rides</a> </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="key" slot="start"></ion-icon>
          <ion-label><a routerLink="">Self Drive Booking</a> </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="help-circle-outline" slot="start"></ion-icon>
          <ion-label><a routerLink="">Know Your Rides</a> </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="filing" slot="start"></ion-icon>
          <ion-label><a routerLink="/ratecard">Rate Card</a> </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="cash" slot="start"></ion-icon>
          <ion-label><a routerLink="/rentomoney">Rento Money</a> </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="wallet" slot="start"></ion-icon>
          <ion-label><a routerLink="/payments">Payments</a> </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="happy" slot="start"></ion-icon>
          <ion-label><a routerLink="/support">Support</a> </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
          <ion-label><a routerLink="/about">About</a> </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="my-content">
    <ion-header>
      <ion-toolbar>

        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="header-segment d-flex justify-content-center">
          <div><a routerLink="/home/daily" routerLinkActive="active-link">Daily</a></div>
          <div><a routerLink="/home/rentals" routerLinkActive="active-link">Rentals</a></div>
          <div><a routerLink="/home/outstation" routerLinkActive="active-link">Outstation</a></div>
          <div><a routerLink="/home/selfdrive" routerLinkActive="active-link">Drive</a></div>
        </div>

        
            <ion-icon name="notifications" slot="end" class="notification-icon"></ion-icon>
            <ion-badge color="danger" slot="end">2</ion-badge>
        
       
        <!-- <ion-tabs>
          <ion-tab-bar slot="top">
            <ion-menu-button></ion-menu-button>
            <ion-tab-button tab="daily">
              <ion-label>Daily</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="rentals">
              <ion-label>Rentals</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="outstation">
              <ion-label>Outstaion</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="selfdrive">
              <ion-label>Drive</ion-label>
            </ion-tab-button>
            <ion-icon name="notifications" class="notification-icon "></ion-icon>
          </ion-tab-bar>
        </ion-tabs> -->

      </ion-toolbar>
    </ion-header>

    <ion-content>
      <form [formGroup]="directionForm" (ngSubmit)="calculateAndDisplayRoute(directionForm.value)">
        <ion-item>
          <ion-label position="floating">Source</ion-label>
          <ion-input formControlName="source"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Destination</ion-label>
          <ion-input formControlName="destination"></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" [disabled]="directionForm.invalid" class="direction-btn">Get Direction</ion-button>
      </form>

      <div #mapElement class="map"></div>
    </ion-content>
    <router-outlet></router-outlet>
  </div>
</ion-app>