@import url("https://fonts.googleapis.com/css?family=Courgette|Roboto&display=swap");


a {
  all: unset;
}

p {
  color: #737373;
  margin: 0px;
  padding: 0px;
}

.notification-icon {
  font-size: 24px;
}
ion-tab-button {
  --color-selected: #ff2e7a;
}
.map{
  height: 100%;
}

@media screen and (max-width:375px){
  ion-tab-button {
    --padding-end: 0px !important;
    --padding-start: 0px !important;
  }
}