@import url("https://fonts.googleapis.com/css?family=Courgette|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap");

ion-toolbar {
  --background: aliceblue;
}
ion-title {
  font-size: 3rem;
  font-family: "Courgette";
}
h1 {
  font-size: 1.5rem;
  color: #ff2e7a !important;
  font-family: "Montserrat";
  letter-spacing: 2px;
}

ion-card-title {
  font-size: 30px;
}
ion-card-content {
  background: white;
}
ion-item {
  --background: white;
}
ion-label {
  color: grey !important;
  font-family: "Montserrat" !important;
}
ion-content {
  --background: #ebeeef;
}
ion-card-header {
    --background: url("../../assets/images/register-img.png");
    background-size: 60% 90%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 250px;
    background-color: white;
  }
p {
  font-family: "Montserrat";
}
.register-btn {
  --background: #ff2e7a !important;
  color: white;
}
ion-checkbox {
  --border-radius: 50%;
}

@media screen and (min-width:768px){
    ion-card-header{
      background-size:50% 90%;
    }
  }