<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title class="ion-text-center">
      Rento Cab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit(registerForm.value)">
              <div class="ion-padding">
                <h1 class="text-center">REGISTER FOR FREE ACCOUNT</h1>
              </div>
              <ion-item>
                <ion-label position="floating">First Name</ion-label>
                <ion-input type="text" formControlName="firstName"></ion-input>
              </ion-item>
              <div class="error" *ngIf="registerForm.controls['firstName'].hasError('required') && (registerForm.controls['firstName'].touched 
                || registerForm.controls['firstName'].dirty)">
                Please enter your firstname
              </div>
              <ion-item>
                <ion-label position="floating">Last Name</ion-label>
                <ion-input type="text" formControlName="lastName"></ion-input>
              </ion-item>
              <div class="error" *ngIf="registerForm.controls['lastName'].hasError('required') && (registerForm.controls['lastName'].touched 
                || registerForm.controls['lastName'].dirty)">
                Please enter your lastname
              </div>
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>
              <div class="error" *ngIf="registerForm.controls['email'].hasError('required') && (registerForm.controls['email'].touched 
                || registerForm.controls['email'].dirty)">
                Please enter your email
              </div>
              <div class="error" *ngIf="registerForm.controls['email'].hasError('email')">Please enter a valid email</div>
              <ion-item>
                <ion-label position="floating">Mobile Number</ion-label>
                <ion-input type="text" (keypress)="isInputNumber($event)" formControlName="mobileNumber"></ion-input>
              </ion-item>
              <div class="error" *ngIf="registerForm.controls['mobileNumber'].hasError('required') && (registerForm.controls['mobileNumber'].touched || registerForm.controls['email'].dirty)">Please enter your mobile number</div>
              <div class="error" *ngIf="registerForm.controls['mobileNumber'].hasError('minLength()')">Please enter 10 digit number</div>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
              <div class="error" *ngIf="registerForm.controls['password'].hasError('required') && (registerForm.controls['password'].touched || registerForm.controls['email'].dirty)">Please enter your password</div>
              <div class="error" *ngIf="registerForm.controls['password'].hasError('minLength')">Password must contain minimum 6 character</div>
              <ion-item>
                <ion-label position="floating">Confirm Password</ion-label>
                <ion-input type="password" formControlName="confirmPassword"></ion-input>
              </ion-item>
              <div class="error" *ngIf="registerForm.controls['confirmPassword'].hasError('required') && (registerForm.controls['confirmPassword'].touched || registerForm.controls['confirmPassword'].dirty)">Please confirm your password</div>
              <div class="error" *ngIf="registerForm.controls['confirmPassword'].hasError('MustMatch')">Password must match</div>
              <ion-item>
                <ion-checkbox slot="start" color="danger"></ion-checkbox>
                <ion-label>I accept terms and conditions</ion-label>
              </ion-item>
              <br>
              <ion-button class="register-btn" (click)="onFormSubmit(registerForm.value)" expand="full">REGISTER
              </ion-button>
              <br>
              <p class="ion-text-center">Already Have An Account?&nbsp;<span routerLink="/login"
                  style="font-weight: bold;">Log In</span></p>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>