@import url("https://fonts.googleapis.com/css?family=Courgette|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap");


ion-title {
  font-size: 2.2em;
  font-family: "Courgette";
}
h1 {
  font-size: 22px;
  color: #ff2e7a !important;
  font-family: "Montserrat";
  letter-spacing: 2px;
}


ion-card-content {
  margin-top: -28px;
  background: whitesmoke;
}
ion-item {
  --background: whitesmoke;
}
ion-label {
  color: grey !important;
  font-family: "Montserrat" !important;
}
ion-content {
  --background: white;
}


ion-card-header {
    --background: url("../../assets/images/register-img.jpg");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 250px;
  }
p {
  font-family: "Montserrat";
}
.register-btn {
  --background: #ff2e7a !important;
  color: white;
}
ion-checkbox {
  --border-radius: 50%;
}


