@import url('https://fonts.googleapis.com/css?family=Courgette|Roboto&display=swap');

ion-title{
    font-size: 3rem;
    font-family: 'Courgette';
}
ion-col{
    margin-top: 20vh;
}
ion-card-title{
    font-size: 30px;
}
